fhir/plugins/org.eclipse.mdht.fhir.xsd/model/schemas/orderset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Mon, Feb 15, 2016 16:19+0000 for FHIR v1.3.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="OrderSet" type="OrderSet">
    <xs:annotation>
      <xs:documentation xml:lang="en">This resource allows for the definition of an order set as a sharable, consumable, and executable artifact in support of clinical decision support.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OrderSet">
    <xs:annotation>
      <xs:documentation xml:lang="en">This resource allows for the definition of an order set as a sharable, consumable, and executable artifact in support of clinical decision support.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="moduleMetadata" minOccurs="0" maxOccurs="1" type="ModuleMetadata">
            <xs:annotation>
              <xs:documentation xml:lang="en">A reference to a ModuleMetadata resource containing metadata for the orderset.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="library" minOccurs="0" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">A reference to a Library resource containing any formal logic used by the orderset.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="item" type="OrderSet.Item" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">The definition of the items that make up the orderset.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderSet.Item">
    <xs:annotation>
      <xs:documentation xml:lang="en">This resource allows for the definition of an order set as a sharable, consumable, and executable artifact in support of clinical decision support.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="1" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier for the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="number" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A user-visible number for the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="title" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The title of the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A short description of the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="textEquivalent" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A text equivalent of the item in the orderset.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="supportingEvidence" minOccurs="0" maxOccurs="unbounded" type="Attachment">
            <xs:annotation>
              <xs:documentation xml:lang="en">Supporting evidence for the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="documentation" minOccurs="0" maxOccurs="unbounded" type="Attachment">
            <xs:annotation>
              <xs:documentation xml:lang="en">Supporting documentation for the  item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="participantType" minOccurs="0" maxOccurs="unbounded" type="OrderSetParticipantType">
            <xs:annotation>
              <xs:documentation xml:lang="en">The type of participant in the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="concept" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Concepts associated with the item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="OrderSetItemType">
            <xs:annotation>
              <xs:documentation xml:lang="en">The type of item (create, update, remove).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="groupingBehavior" minOccurs="0" maxOccurs="1" type="OrderSetItemGroupingBehavior">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines organization behavior of a group: gives the reason why the items are grouped together.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="selectionBehavior" minOccurs="0" maxOccurs="1" type="OrderSetItemSelectionBehavior">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines selection behavior of a group: specifies the number of selectable items in the group that may be selected by the end user when the items of the group are displayed.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="requiredBehavior" minOccurs="0" maxOccurs="1" type="OrderSetItemRequiredBehavior">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines requiredness behavior for selecting an action or an action group; i.e., whether the action or action group is required or optional.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="precheckBehavior" minOccurs="0" maxOccurs="1" type="OrderSetItemPrecheckBehavior">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines selection frequency behavior for an action or group; i.e., for most frequently selected items, the end-user system may provide convenience options in the UI (such as pre-selection) in order to (1) communicate to the end user what the most frequently selected item is, or should, be in a particular context, and (2) save the end user time.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="cardinalityBehavior" minOccurs="0" maxOccurs="1" type="OrderSetItemCardinalityBehavior">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines behavior for an action or a group for how many times that item may be repeated, i.e., cardinality. For example, if a user is documenting lesions, the lesion element may be repeated several times, once for each occurrence of a lesion on the patient or tissue sample or image.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="resource" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The resource that is the target of the item (e.g. CommunicationRequest).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="customization" type="OrderSet.Customization" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Customizations that should be applied to the statically defined resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="items" type="OrderSet.Item" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Sub items for the orderable.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderSet.Customization">
    <xs:annotation>
      <xs:documentation xml:lang="en">This resource allows for the definition of an order set as a sharable, consumable, and executable artifact in support of clinical decision support.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="path" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The path to the element to be customized.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="expression" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">An expression specifying the value of the customized element.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemGroupingBehavior-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="visual-group">
        <xs:annotation>
          <xs:documentation xml:lang="en">Any group marked with this behavior should be displayed as a visual group to the end user</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="logical-group">
        <xs:annotation>
          <xs:documentation xml:lang="en">A group with this behavior logically groups its sub-elements, and may be shown as a visual group to the end user, but it is not required to do so</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sentence-group">
        <xs:annotation>
          <xs:documentation xml:lang="en">A group of related alternative items is a sentence group if the target referenced by the item is the same in all the items, and each item simply constitutes a different variation on how to specify the details for the target. For example, two items that could be in a SentenceGroup are &quot;aspirin, 500 mg, 2 times per day&quot; and &quot;aspirin, 300 mg, 3 times per day&quot;. In both cases, aspirin is the target referenced by the item, and the two items represent two different options for how aspirin might be ordered for the patient. Note that a SentenceGroup would almost always have an associated selection behavior of &quot;AtMostOne&quot;, unless it's a required item, in which case, it would be &quot;ExactlyOne&quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemGroupingBehavior">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines organization behavior of a group</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemGroupingBehavior-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemType-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="create">
        <xs:annotation>
          <xs:documentation xml:lang="en">The action is to create a new resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="update">
        <xs:annotation>
          <xs:documentation xml:lang="en">The action is to update an existing resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="remove">
        <xs:annotation>
          <xs:documentation xml:lang="en">The action is to remove an existing resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fire-event">
        <xs:annotation>
          <xs:documentation xml:lang="en">The action is to fire a specific event</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The type of orderset item</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemPrecheckBehavior-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:documentation xml:lang="en">An item with this behavior is one of the most frequent items that is, or should be, included by an end user, for the particular context in which the item occurs. The system displaying the item to the end user should consider &quot;pre-checking&quot; such an item as a convenience for the user</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation xml:lang="en">An item with this behavior is one of the less frequent items included by the end user, for the particular context in which the item occurs. The system displaying the items to the end user would typically not &quot;pre-check&quot; such an item</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemPrecheckBehavior">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines selection frequency behavior for an action or group</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemPrecheckBehavior-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemCardinalityBehavior-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="single">
        <xs:annotation>
          <xs:documentation xml:lang="en">The item may only be selected one time</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multiple">
        <xs:annotation>
          <xs:documentation xml:lang="en">The item may be selected multiple times</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemCardinalityBehavior">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines behavior for an action or a group for how many times that item may be repeated</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemCardinalityBehavior-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemSelectionBehavior-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="any">
        <xs:annotation>
          <xs:documentation xml:lang="en">Any number of the items in the group may be chosen, from zero to all</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation xml:lang="en">All the items in the group must be selected as a single unit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="all-or-none">
        <xs:annotation>
          <xs:documentation xml:lang="en">All the items in the group are meant to be chosen as a single unit: either all must be selected by the end user, or none may be selected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exactly-one">
        <xs:annotation>
          <xs:documentation xml:lang="en">The end user must choose one and only one of the selectable items in the group. The user may not choose none of the items in the group</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="at-most-one">
        <xs:annotation>
          <xs:documentation xml:lang="en">The end user may choose zero or at most one of the items in the group</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="one-or-more">
        <xs:annotation>
          <xs:documentation xml:lang="en">The end user must choose a minimum of one, and as many additional as desired</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemSelectionBehavior">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines selection behavior of a group</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemSelectionBehavior-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetParticipantType-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="patient">
        <xs:annotation>
          <xs:documentation xml:lang="en">The participant is the patient under evaluation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="person">
        <xs:annotation>
          <xs:documentation xml:lang="en">The participant is a person</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="practitioner">
        <xs:annotation>
          <xs:documentation xml:lang="en">The participant is a practitioner involved in the patient's care</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="related-person">
        <xs:annotation>
          <xs:documentation xml:lang="en">The participant is a person related to the patient</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetParticipantType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The type of participant for an action in the orderset</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetParticipantType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrderSetItemRequiredBehavior-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="must">
        <xs:annotation>
          <xs:documentation xml:lang="en">An item with this behavior must be included in the items processed by the end user; the end user may not choose not to include this item</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="could">
        <xs:annotation>
          <xs:documentation xml:lang="en">An item with this behavior may be included in the set of items processed by the end user</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="must-unless-documented">
        <xs:annotation>
          <xs:documentation xml:lang="en">An item with this behavior must be included in the set of items processed by the end user, unless the end user provides documentation as to why the item was not included</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrderSetItemRequiredBehavior">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines requiredness behavior for selecting an action or an action group</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OrderSetItemRequiredBehavior-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
